<div id="<%= dom_id child %>">
  <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= child.section %>
  </p>

  <p>
    <strong>Rollno:</strong>
    <%= child.rollno %>
  </p>

  <p>
    <strong>Marks:</strong>
    <%= child.marks %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= child.grade %>
  </p>

</div>
